# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List Commonly used libraries by Data Scientists
* List data science tools
* Write Simple arithmatic expression
* Converts mins to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit learn
6. Keras
7. TensorFlow
8. PyTorch
9. ggplot
10. BigDL

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zepplin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Akash D. Telvekar